.community-description__container {
  display: flex;
  flex-direction: column;
}

.community-description__container label {
  margin-bottom: 10px;
  margin-left: 12%;
  color: gray;
}

.community-description__container textarea {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.community-description__container textarea::placeholder {
  font-size: 15px;
}

.community-description__container textarea:focus {
  outline: none;
}
